@page "/auth/password-reset"
@model Roblox.Website.Pages.Auth.PasswordReset

@{
    Layout = "Shared/_Layout";
}

@section MetaTags {
    <title>Password Reset</title>
}

<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <div class="card card-body">
                <h2>Password Reset</h2>
                <p>If you joined with an application, you can request a password reset by re-verifying with the account you signed up with.</p>
                @if (Model.errorMessage != null)
                {
                    <p class="text-danger">@Model.errorMessage</p>
                }
                <form method="post">
                    @Html.AntiForgeryToken()
                    @if (Model.successMessage != null)
                    {
                        <p class="text-success mt-4">@Model.successMessage</p>
                    }else if (!string.IsNullOrWhiteSpace(Model.passwordResetId))
                    {
                        <p>Enter your new password</p>
                        <input type="password" class="form-control" name="newPassword" />
                        <input type="hidden" name="username" value="@Model.username" />
                        <input type="hidden" name="passwordResetId" value="@Model.passwordResetId" />
                        <input type="hidden" name="action" value="change" />
                        <input class="btn btn-primary mt-4" type="submit" value="Change Password" id="verify-submit"/>
                    }
                    else if (Model.username != null && Model.verificationPhrase != null)
                    {
                        <p>Enter the following phrase on the social media account used for signing up, then press the "Verify" button. If you cannot remember the social media account you used, or no longer have access to it, you cannot reset your password.</p>
                        <textarea class="form-control" rows="4" readonly="readonly">@Model.verificationPhrase</textarea>
                        <input type="hidden" name="action" value="verify" />
                        <input type="hidden" name="username" value="@Model.username" />
                        <div class="h-captcha mt-4" data-sitekey="@Model.siteKey" data-theme="light"></div>
                        <input class="btn btn-primary mt-4" type="submit" value="Verify" id="verify-submit"/>
                    }
                    else
                    {
                        <input value="@Model.username" type="text" placeholder="Username" name="username" class="form-control mb-1"/>
                        <input class="btn btn-primary" type="submit" value="Continue" id="continue-submit"/>
                    }
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://js.hcaptcha.com/1/api.js" async defer></script>